In [46]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [47]:
df=pd.read_csv('test.csv',parse_dates=True)
df.head()

                                              Review        date     Location
0  I was very impressed with the resort.\n Great ...  2019/08/20    Sebastian
1  The rooms were nice the outside needs work als...  2019/08/20  Los Angeles
2  Great location! I have stayed at this hotel on...  2019/08/20      Georgia
3  The hotel was adequate for my stay. The strips...  2019/08/20          NaN
4  Great location, room was large and spacious. P...  2019/08/19  Palm Harbor

In [48]:
df.isnull().sum()

Review        55
date           0
Location    4737
dtype: int64

In [49]:
df.shape

(6448, 3)

In [50]:
df.Review.astype(object)

0       I was very impressed with the resort.\n Great ...
1       The rooms were nice the outside needs work als...
2       Great location! I have stayed at this hotel on...
3       The hotel was adequate for my stay. The strips...
4       Great location, room was large and spacious. P...
                              ...
6443    ·the staff were all so friendly. frank, the ch...
6444           ·the internet barely worked or didn't work
6445    ·the location was great.\n \n \n \n \n ·the be...
6446    ·we were early for check in and the staff was ...
6447    ·staff, free coffee, location and activities.\...
Name: Review, Length: 6448, dtype: object

In [69]:
df1=df.replace(np.nan,'',regex=True)

In [70]:
df1.isnull().sum()

Review      0
date        0
Location    0
dtype: int64

In [71]:
df1['positive']=True
for i in range(6448):
    str=df1.loc[i,'Review'].lower()
    df1.loc[i,'positive']= ('happy' in str) or ('great' in str) or ('adequate' in str) or ('nice' in str) or ('love' in str) or ('excellent' in str)

In [72]:
df1.head()

,Review,date,Location,positive
0,I was very impressed with the resort.\n Great ...,2019/08/20,Sebastian,True
1,The rooms were nice the outside needs work als...,2019/08/20,Los Angeles,True
2,Great location! I have stayed at this hotel on...,2019/08/20,Georgia,True
3,The hotel was adequate for my stay. The strips...,2019/08/20,,True
4,"Great location, room was large and spacious. P...",2019/08/19,Palm Harbor,True

In [67]:
df1.positive.value_counts()

False    3704
True     2744
Name: positive, dtype: int64

In [68]:
2744/6448

0.42555831265508687

In [74]:
df.isnull().sum()

Review        55
date           0
Location    4737
dtype: int64

In [77]:
 locount=df1.groupby('Location').Location.count()

In [90]:
locount.sort_values(ascending=False)

Location
                            4737
United States of America     116
New York                      34
San Jose                      19
California                    19
                            ...
Ocala                          1
Oc                             1
Oakland,CA                     1
Oakland, ca                    1
NRW, Germany                   1
Name: Location, Length: 1083, dtype: int64

In [91]:
df1['negative']=True
for i in range(6448):
    str=df1.loc[i,'Review'].lower()
    df1.loc[i,'negative']= ('unhappy' in str) or ('poor' in str) or ('disappoint' in str) or ('negative' in str) or ('wors' in str) or ('awful' in str)

In [92]:
df1.negative.value_counts()

False    6032
True      416
Name: negative, dtype: int64

In [104]:
df1['language']=''
from langdetect import detect

In [113]:
for i in range(6448):   
    str=df1.loc[i,'Review']
    try:
        lang = detect(str)
    except:
        lang='null'
        print("This row throws and error:", i)
    df1.loc[i,'language']=lang

This row throws and error: 33
This row throws and error: 263
This row throws and error: 507
This row throws and error: 560
This row throws and error: 877
This row throws and error: 1034
This row throws and error: 1091
This row throws and error: 1114
This row throws and error: 1150
This row throws and error: 1217
This row throws and error: 1244
This row throws and error: 1300
This row throws and error: 1355
This row throws and error: 1361
This row throws and error: 1385
This row throws and error: 1401
This row throws and error: 1479
This row throws and error: 1561
This row throws and error: 1625
This row throws and error: 1898
This row throws and error: 2119
This row throws and error: 2291
This row throws and error: 2365
This row throws and error: 2366
This row throws and error: 2391
This row throws and error: 2533
This row throws and error: 2610
This row throws and error: 2654
This row throws and error: 2663
This row throws and error: 2670
This row throws and error: 2671
This row throws and error: 2689
This row throws and error: 2742
This row throws and error: 2895
This row throws and error: 2925
This row throws and error: 2957
This row throws and error: 3137
This row throws and error: 3174
This row throws and error: 3283
This row throws and error: 3548
This row throws and error: 3968
This row throws and error: 4012
This row throws and error: 4069
This row throws and error: 4089
This row throws and error: 4235
This row throws and error: 4351
This row throws and error: 4386
This row throws and error: 4399
This row throws and error: 4797
This row throws and error: 4862
This row throws and error: 4878
This row throws and error: 5136
This row throws and error: 5171
This row throws and error: 5254
This row throws and error: 5255
This row throws and error: 5317

In [114]:
df1.head()

,Review,date,Location,positive,negative,language
0,I was very impressed with the resort.\n Great ...,2019/08/20,Sebastian,True,False,en
1,The rooms were nice the outside needs work als...,2019/08/20,Los Angeles,True,False,en
2,Great location! I have stayed at this hotel on...,2019/08/20,Georgia,True,False,en
3,The hotel was adequate for my stay. The strips...,2019/08/20,,True,True,en
4,"Great location, room was large and spacious. P...",2019/08/19,Palm Harbor,True,False,en

In [116]:
df1.language.value_counts()

en       5864
es        167
de         88
fr         74
null       56
ja         36
it         35
pt         31
nl         24
da         18
no         10
ko          9
sv          8
et          6
af          5
zh-cn       4
fi          4
ca          2
pl          2
ru          2
he          1
zh-tw       1
ar          1
Name: language, dtype: int64

In [120]:
74/6448

0.011476426799007445

In [135]:
dat=df1.groupby('date').date.count()
dat=dat.sort_values(ascending=False)

In [136]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
print(dat)

date
Jun 2019      145
May 2019      121
Jul 2019       92
2018/12/01     66
Oct 2018       58
2019/03/01     53
Aug 2018       53
2019/02/01     52
2018/09/01     49
2019/01/01     44
Nov 2018       42
2018/11/26     41
2018/09/04     38
2018/12/17     38
2019/07/31     37
Sep 2018       35
Mar 2019       35
2019/03/25     34
2018/10/01     33
2019/04/22     32
2019/04/01     32
Feb 2019       32
2019/01/02     31
2019/08/05     31
2018/11/01     31
2018/11/27     30
2018/09/10     29
2018/12/30     29
2019/03/26     28
2019/04/08     28
2019/1/4       28
2019/04/15     27
2018/12/31     27
2019/04/16     25
2019/04/21     25
2019/03/18     25
2018/12/18     25
2019/04/09     25
2018/10/02     25
2018/11/13     24
2018/10/15     24
2019/03/19     24
2019/1/15      24
2019/03/12     24
2019/05/20     24
2019/03/05     24
2019/08/09     24
2018/12/11     23
2018/10/23     23
2019/1/14      23
2019/04/23     23
2018/08/13     23
2019/08/11     23
2018/11/18     23
2018/11/19     23
2018/12/10     23
2018/12/09     22
2019/05/06     22
2018/09/17     22
2019/04/05     22
2019/03/31     22
2019/07/14     22
2019/01/28     22
2019/05/14     22
2018/11/12     22
2018/12/29     22
2019/1/7       22
2019/2/25      22
2018/08/14     22
2019/08/12     22
2019/08/06     21
2019/07/30     21
2019/03/11     21
2019/07/17     21
2018/12/15     21
2018/12/12     21
2018/08/20     21
2019/01/29     20
2018/12/20     20
2018/10/30     20
2019/04/30     20
2018/10/29     20
2018/10/22     20
2018/09/14     20
2018/09/11     20
2018/08/25     20
2018/08/06     20
2018/12/26     20
2019/04/07     20
2019/2/26      20
2019/2/5       20
2019/08/19     20
2019/1/10      20
Apr 2019       20
2019/1/3       19
2018/12/27     19
2018/12/28     19
2019/04/13     19
2019/08/13     19
2018/09/24     19
2019/04/29     19
2019/03/22     19
2019/2/21      19
2019/04/02     19
2019/2/18      18
2019/01/27     18
2018/10/26     18
2019/04/04     18
2018/12/23     18
2018/11/20     18
2019/05/22     18
2018/12/13     18
2019/04/25     18
2019/3/2       17
2019/05/09     17
2018/12/25     17
2019/04/19     17
2018/12/02     17
2019/1/8       17
2019/04/27     17
2019/04/28     17
2018/11/14     17
2018/11/05     17
2018/11/06     17
2019/04/17     17
2019/03/06     17
2019/03/27     17
2019/03/29     17
2019/07/08     17
2019/07/07     17
2019/03/30     17
2019/04/03     17
2018/12/14     17
2019/07/02     17
2018/08/15     17
2019/07/15     17
2019/04/14     17
2018/12/22     17
2019/07/16     17
2019/2/24      17
2018/10/03     16
2019/03/28     16
2019/05/21     16
2019/07/24     16
2018/08/24     16
2019/05/18     16
2019/05/17     16
2019/05/15     16
2019/03/08     16
2019/05/13     16
2018/10/09     16
2018/10/28     16
2019/1/21      16
2018/10/11     16
2019/07/18     16
2018/09/25     16
2018/10/16     16
2019/05/03     16
2019/05/02     16
2019/03/20     16
2018/11/04     16
2019/2/23      16
2018/08/21     16
2019/04/20     16
2019/05/01     15
2018/10/24     15
2019/04/26     15
2019/08/17     15
2018/10/21     15
2019/03/21     15
2018/08/07     15
2019/07/13     15
2018/09/02     15
2018/11/24     15
2019/07/06     15
2018/11/25     15
2018/08/23     15
2018/08/26     15
2018/12/08     15
2018/11/16     15
2018/12/06     15
2018/12/03     15
2019/07/19     14
2019/07/12     14
2019/07/09     14
Jan 2019       14
2018/10/27     14
2019/04/10     14
2019/03/17     14
2018/12/16     14
2019/2/11      14
2018/10/10     14
2019/06/24     14
2019/05/26     14
2019/08/07     14
2018/08/27     14
2019/08/04     14
2019/2/4       14
2018/09/03     14
2018/09/08     14
2019/1/6       14
2018/09/23     14
2018/11/15     14
2019/01/23     14
2018/12/04     13
2018/11/29     13
2019/2/20      13
2019/2/22      13
2019/2/19      13
2018/10/31     13
2019/1/5       13
2019/1/9       13
2019/1/17      13
2019/2/12      13
2018/12/24     13
2018/11/21     13
2018/10/12     13
2019/03/23     13
2019/05/05     13
2019/2/8       13
2018/09/18     13
2018/09/20     13
2019/05/28     13
2019/05/27     13
2018/10/04     13
2018/09/05     13
2019/07/04     13
2019/05/08     13
2019/05/07     13
2019/08/03     13
2019/07/10     13
2019/08/01     13
2019/08/18     13
2018/10/20     13
2019/04/12     13
2019/2/9       13
2019/07/29     13
2019/07/20     13
2019/07/26     12
2018/08/28     12
2019/3/3       12
2018/08/18     12
2018/12/21     12
2018/11/23     12
2018/12/07     12
2019/07/21     12
2018/12/19     12
2019/2/10      12
2018/08/05     12
2019/06/27     12
2019/06/28     12
2019/07/01     12
2018/08/08     12
2019/1/30      12
2019/07/28     12
2018/11/02     12
2019/05/10     12
2019/06/10     12
2018/09/30     12
2019/03/13     12
2019/1/22      12
2018/10/14     12
2019/04/18     12
2018/10/19     12
2019/2/7       12
2019/03/24     12
2018/09/12     12
2019/1/13      12
2018/11/30     12
2018/08/03     11
2018/10/13     11
2018/09/09     11
2018/11/10     11
2018/09/26     11
2018/09/22     11
2018/09/21     11
2019/2/2       11
2018/09/13     11
2019/3/1       11
2018/08/12     11
2018/08/01     11
2019/03/07     11
2019/05/12     11
2019/03/04     11
2019/07/11     11
2018/10/07     10
2019/01/26     10
2019/07/03     10
2019/04/11     10
2019/03/10     10
2019/03/09     10
2019/06/21     10
2018/11/09     10
2019/05/16     10
2018/11/11     10
2019/1/11      10
2018/08/11     10
2019/07/22     10
2018/08/29     10
2018/11/28     10
2018/09/06     10
2018/09/07     10
2019/04/24     10
2018/10/08     10
2019/07/25     10
2019/05/04     10
2019/01/03     10
2019/07/27     10
2019/01/24     10
2019/05/19      9
2019/08/14      9
2018/10/17      9
2019/06/30      9
2019/04/06      9
2019/08/08      9
2018/10/18      9
2019/1/12       9
2019/03/14      9
2018/08/31      9
2018/11/17      9
2019/06/20      9
2019/05/25      9
2019/06/03      9
2019/03/15      9
2019/06/25      9
2019/05/23      8
2018/08/17      8
2019/06/23      8
2018/12/05      8
2019/06/04      8
2018/09/29      8
2018/09/16      8
2018/09/15      8
2018/10/05      8
2019/06/18      8
2018/08/16      8
2019/06/13      8
2018/11/03      8
2019/2/13       8
2019/08/10      8
2019/07/05      8
2019/07/23      8
2019/03/16      8
2018/11/07      8
2019/08/15      8
2019/06/17      8
2019/2/3        8
2018/08/02      7
2018/11/08      7
2019/2/1        7
2019/06/07      7
2019/2/16       7
2018/08/04      7
2019/06/11      7
2019/05/11      7
2019/06/22      7
2019/1/16       7
2018/08/19      7
2019/06/26      7
2019/2/28       7
2019/06/29      7
2019/2/17       7
2018/08/09      6
2018/08/10      6
2019/06/19      6
2018/08/22      6
2019/3/4        6
2018/08/30      6
2019/05/24      6
2018/09/19      6
2019/1/20       6
2019/06/09      6
2019/05/29      6
2019/1/31       6
2019/01/25      6
2019/08/16      6
2018/10/06      6
2019/05/30      6
2018/10/25      6
2019/1/19       5
2018/09/27      5
2019/06/01      5
2019/06/02      5
2019/2/27       5
2019/06/12      5
2019/2/15       5
2019/1/18       5
2019/06/15      4
2019/01/30      4
2018/11/22      4
2019/08/20      4
2019/08/02      4
2019/06/16      4
2019/2/6        4
2019/06/05      4
2019/01/22      4
2018/09/28      3
2019/2/14       3
2019/06/14      3
Dec 2018        2
2019/05/31      2
2019/06/06      2
2019/06/08      2
Name: date, dtype: int64

1. There were 2744  clearly positive reviews among the total reviews. These reviews had positive keywords in the text  like 'happy', 'great', 'adequate', etc (only applies to the reviews in English). This means about 42.5% of the total reviews were positive.

2. 416 reviews had negative keywords in them, such as 'unhappy', 'poor', 'disappointed', etc.

3. 4737 entries had no location mentioned, and 55 entries had the review field blank.

4. Apart from null entries for 'Location', it was found that 'United States of America'  was the most popular location, with 116 entries, followed by New York  with 34, and 'San Jose' and 'California' with 19 each.

5. The reviews were written in multiple languages. A vast majority of these were written in English (5864/90.9%), followed by Spanish (167/2.5%), German (183/1.3%) and French (74/1.1%). There were also very few cases of Japanese, Korean and Arabic reviews. (This analysis was done using special libraries in python.)

6. 2018/12/01 saw the highest single-day traffic, i.e, it had the most number of reviews written in a single day, with 66 reviews. 2019/03/01 was the second-highest, with about 53 reviews.

All of the above insights were generated with the help of various libraries in python.